@model EnrollModel
@{
    ViewData["Title"] = "Enroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["enrollResult"] != null)
{
    if (TempData["enrollResult"].ToString().Contains("success"))
    {
        <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
            Your enroll success has been sent successfully, please wait to be contacted via the email address that you provided.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
               @TempData["enrollResult"]
            <hr />
            Please try again or contact support
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

}
<h1>Enroll</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Enroll" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label">First Name</label>
                <input asp-for="firstName" class="form-control" required />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label">Last name</label>
                <input asp-for="lastName" class="form-control" required />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailAddress" class="control-label">Email address</label>
                <input asp-for="emailAddress" class="form-control" required />
                <span asp-validation-for="emailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CV" class="control-label">Please add your CV(pdf/doc/docx)</label>
                <input name="CV" type="file" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Letter" class="control-label">Please add your Motivation letter(pdf/doc/docx)</label>
                <input name="Letter" type="file" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

