@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h2 class="display-4">Welcome</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum erat eu augue posuere, at posuere arcu pulvinar. Nulla condimentum sapien leo, id fermentum leo pellentesque non. Mauris at viverra ligula. In in gravida magna. Pellentesque pretium convallis arcu eget condimentum. Sed sed ipsum sed elit molestie aliquam. Sed nec ante pellentesque, vulputate erat sit amet, ultrices libero. Cras eget scelerisque nibh. Praesent sed eleifend diam. Nullam accumsan quam in nisl tempor, nec eleifend nunc consequat. Pellentesque eget rutrum nibh. Praesent sit amet tincidunt leo. Pellentesque gravida tortor vitae est feugiat pellentesque.</p>
        <hr />
        <a asp-area="" asp-page="/Form/Questionaire"><button class="btn btn-primary">Go to the Questionaire</button></a>
        
    </div>
