@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies non turpis eu rutrum. Quisque vehicula ac tellus non consectetur.
        Donec volutpat dolor at odio rutrum dapibus. Proin purus tortor, convallis id lacus sed, aliquam posuere nulla. Vivamus gravida tortor augue,
        congue auctor sapien tincidunt nec. Phasellus vel eros accumsan, fringilla metus vel, accumsan libero. Ut scelerisque efficitur consectetur. In
        tortor purus, dapibus a sapien ut, egestas ultricies ipsum.

        Nam eget sem eu nibh suscipit tempor ut in mi. Maecenas lacus nunc, tempor feugiat risus ut, pulvinar lobortis tortor. Curabitur in eros eu leo
        fermentum varius. Donec ac ultricies enim, eget tempor leo. Maecenas eu enim gravida, ultrices mauris et, ultrices felis. Fusce tincidunt mi velit,
        vel faucibus elit auctor quis. Praesent scelerisque cursus lacinia. Praesent finibus tellus elementum porttitor semper. In molestie turpis eu
        turpis bibendum, et fringilla diam commodo. Duis sodales blandit augue, non sollicitudin dui euismod vitae.
    </p>
    <h5>I am a</h5>

    <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Doctor</a>
    <a class="btn btn-primary" href="https://localhost:5001">Patient</a>
</div>
