@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Welcome to the Epidemy Tracker! This app is here to come to your help during this difficult times when social distancing is necessary for your safety. We want to offer you a way of getting quality medical guidance from the safety and comfort of you home, so you won't need to go to a medical office and risk spreading or receiving the new virus that has brought the whole world in a state of emergency. </p>


        <p>If you are a medical specialist and you want to help us, feel free to contact us with any kind of questions regarding the system. When you make a decision, please go to the Enroll page in order to start the process.</p>
        <h5>I am a</h5>

        <a class="btn btn-primary" href="https://localhost:5001">Patient</a>
        <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Doctor</a>
    </div>
